:root {
	--search-height: 3em;	
	--search-width: 30rem;
	--search-text-color: #4682B4;
	--title-height: 20px;
}

body {
	margin: auto 0;
	font-family: Arial;
}

div {
	/*display: block;*/
}

.zone {
	text-align: center;
	font-size: 2em;
	border-radius: 4px;
	border: 1px solid #444;
	color: #fff;
	transition: all 0.3s linear;
	position: fixed;
	top: 0px;
	width: 100%;
}

.zone:hover {
	-webkit-box-shadow: rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.8) 0px -10px 20px;
	-moz-box-shadow: rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.8) 0px -10px 20px;
	-o-box-shadow: rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.8) 0px -10px 20px;
	box-shadow: rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.8) 0px -10px 20px;
}

.blue{
    background: #4682B4; /* Old browsers */
    background: -moz-linear-gradient(top, #4682B4 0%, #00BFFF 44%, #87CEFA 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4682B4), color-stop(44%,#87CEFA), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4682B4 0%,#00BFFF 44%,#87CEFA 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4682B4 0%,#00BFFF 44%,#87CEFA 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4682B4 0%,#00BFFF 44%,#87CEFA 100%); /* IE10+ */
    background: linear-gradient(top, #4682B4 0%,#00BFFF 44%,#87CEFA 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4682B4', endColorstr='#87CEFA',GradientType=0 ); /* IE6-9 */
}

.searchbox {
	margin-top: calc(30px + var(--title-height));
}

#searchinfo {
	width: var(--search-width);
	height: var(--search-height);
	margin-right: auto;
	margin-left: auto;
}

input {
	background-color: white;
	border-radius: calc(0.3 * var(--search-height));
	color: var(--search-text-color);
	height: calc(0.8 * var(--search-height));
	width: calc(0.9 * var(--search-width));;
	font-size: 16px;
	-webkit-box-shadow: rgba(0,0,0,0.8) 0px 5px 15px;
	-moz-box-shadow: rgba(0,0,0,0.8) 0px 5px 15px;
	-o-box-shadow: rgba(0,0,0,0.8) 0px 5px 15px;
	box-shadow: rgba(0,0,0,0.8) 0px 5px 15px;
	border-color: #4682B4;
}

.searchimg {
	height: calc(0.8 * var(--search-height));
	width: calc(0.8 * var(--search-height));
	float: left;
}

.alphabet {
	text-align: center;
	font-size: 1.3em;
	border-radius: 4px;
	border: 1px solid #444;
	width: 100%;
}

.letter {
	color: #fff;
	padding: 2px;
}

@media only screen and (max-width: 1000px) {
	.alphabet {
		font-size: 1em;
		padding: 0;
	}
}

.letter:hover {
	-webkit-box-shadow: inset rgba(0,0,0,0.8) 0px -10px 20px;
	-moz-box-shadow: inset rgba(0,0,0,0.8) 0px -10px 20px;
	-o-box-shadow: inset rgba(0,0,0,0.8) 0px -10px 20px;
	box-shadow: inset rgba(0,0,0,0.8) 0px -10px 20px;
}

table {
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
    font-size: 0.8em;
    background: white;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin: 0 auto 20px;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

tbody {
	display: table-row-group;
    vertical-align: middle;
}

tr {
	display: table-row;
}

#table1 th {
    font-size: 1.1em;
    font-weight: bold;
    color: #000;
    border-bottom: 2px solid #000;
    padding: 10px 8px;
    text-align: center;
}

th {
    display: table-cell;
    font-weight: bold;
    text-align: -internal-center;
}

#table1 td {
    color: #669;
    padding: 9px 8px;
}

td {
    transition: .3s linear;
}

footer {
	text-align: center;
	position: fixed;
	bottom: 0px;
	width: 100%;
	font-size: 1.1em;
	border-radius: 4px;
	border: 1px solid #444;
	color: #fff;
}